<footer>
    <wrapper>

        <div class=left>
            <h2>City Of Spencer</h2>

            <div class=col>
                <address>12180 State Hwy 111<br>PO Box 187<br>Spencer, TN 38585</address>
                <dl>
                    <dt>Office</dt>   <dd><a href="tel:+19319462341">931-946-2341</a></dd>
                    <dt>Dispatch</dt> <dd><a href="tel:+19319464000">931-946-4000</a></dd>
                </dl>
                <p class=important><strong><a href="tel:911">911</a> for emergencies</strong></p>
            </div>

            <div class=col>
                <ul>
                    <li><a href="/pay_water/">Pay Water Bill</a></li>
                    <li><a href="/pay_tickets/">Pay Ticket</a></li>
                    <li><a href="/jobs/">Job Openings</a></li>
                    <li><a href="/pavilion/">Pavilion Reservation</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class=right>
            <div class=col>
                <h2>New Residents</h2>
                <ul>
                    <li><a href="/new_residents/#electricity">Electricity</a></li>
                    <li><a href="/new_residents/#construction">Building &amp; Construction</a></li>
                    <li><a href="/new_residents/#recycling">Recycling &amp; Trash</a></li>
                    <li><a href="/new_residents/#services">Internet, Phone, TV</a></li>
                    <li><a href="/new_residents/#schools">Schools</a></li>
                    <li><a href="/new_residents/#utilities">Water &amp; Sewer</a></li>
                </ul>
            </div>

            <div class=col>
                <h2>Departments</h2>
                <ul>
                    <li><a href="/departments/parks/">Parks &amp; Recreation</a></li>
                    <li><a href="/departments/police/">Police</a></li>
                    <li><a href="/departments/boards_and_commissions/">Boards &amp; Commissions</a></li>
                    <li><a href="/departments/city_council/">City Council</a></li>
                    <li><a href="/departments/water_and_sanitation/">Water &amp; Sanitation</a></li>
                </ul>
            </div>
        </div>

        <!--<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">Spencer, TN</a></p>-->
    </wrapper>
</footer>
